## Task - 9 Loops

### 1].Write a program to print the first 10 even numbers using while loop

In [5]:
x = 1
while x <= 20:
    if x % 2==0:
        print(x)
    x=x+1

2
4
6
8
10
12
14
16
18
20

### 2].Write a program to print the first 10 odd numbers using while loop

In [8]:
x = 1
while x <= 20:
    if x % 2!=0:
        print(x)
    x=x+1

1
3
5
7
9
11
13
15
17
19

### 3].Write a program to print the first 10 natural numbers using while loop

In [13]:
x = 1
while x <=10:
    print(x)
    x = x+1

1
2
3
4
5
6
7
8
9
10

### 4].Write a program to print the first 10 whole numbers using while loop

In [17]:
x = 0
while x <=10:
    print(x)
    x = x+1

0
1
2
3
4
5
6
7
8
9
10

### 5].Write a program that prints the numbers from 1 to 10, each on a new line.

In [22]:
x = 1
while x <=10:
    print(x)
    x=x+1

1
2
3
4
5
6
7
8
9
10

### 6].Write a program that prints the even numbers from 1 to 20, each on a new line.

In [29]:
x = 1
while x <=20:
    if x % 2 == 0:
        print(x)
    x=x+1

2
4
6
8
10
12
14
16
18
20

### 7].Write a program that calculates and prints the square of each number from 1 to 20.

In [34]:
x = 1
while x <=20:
    print(x**2)
    x=x+1

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

### 8].write a program that prints the multiples of 3 from 3 to 30, each on a new line.

In [38]:
x = 3
while x <=30:
    if x % 3==0:
        print(x)
    x=x+1

3
6
9
12
15
18
21
24
27
30

### 9].Write a program that prints the numbers from 10 to 1 in descending order, each on a new line.

In [43]:
x= 10
while x >= 1:
    print(x)
    x=x-1

10
9
8
7
6
5
4
3
2
1

### 10].Count the number of vowels in a string using a for loop.
**s2= "Hello World"**

In [48]:
s2= "Hello World"
L = ['a','e','i','o','u']
count = 0
for i in s2:
    if i in L:
        count = count+1
print("Number of vowels is", count)

Number of vowels is 3

### 11].Display numbers from -10 to -1 using a for loop.

In [52]:
x= -10
for i in range(-10,0):
    if i <=0:
        print(i)
    x=x-1

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

### 12].Find all prime numbers between 1 and 50 using a for loop.

In [57]:
for num in range(1, 51):
    if num > 1: 
        for i in range(2, num):
            if num % i == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

### 13].Print all uppercase letters in the string using a for loop.
**s=”Innomatics Research Labs”**

In [63]:
s = 'Innomatics Research Labs'
for i in s:
    if i.isupper():
        print(i)

I
R
L