## Task-5 Tuples
### Q.1]immutability in Python tuples with examples. Discuss why tuples are considered immutable data structures.

Tuples are sequence of Elements. Tuples are immutable data structure because, we cannot change tuples once set,nor we can add or remove elements.

In [5]:
#Example:
tuple = (10,20,30,40,50)
tuple

(10, 20, 30, 40, 50)

In [10]:
#Let change element at end
tuple[3] = 50
tuple

TypeError: 'tuple' object does not support item assignment

### Q.2]Tuple Basics Create a Python tuple containing the names of your favorite fruits. Write a Python program to print each fruit name from the tuple.

In [17]:
tuple = ('apple','orange','mango','strawberry','chiku')
print("Fruit1:",tuple[0])
print("Fruit2:",tuple[1])
print("Fruit3:",tuple[2])
print("Fruit4:",tuple[3])
print("Fruit5:",tuple[4])

Fruit1: apple
Fruit2: orange
Fruit3: mango
Fruit4: strawberry
Fruit5: chiku

### Q.3] Given two tuples, write a Python program to concatenate them into a single tuple and then find the length of the resulting tuple.

In [29]:
tuple1 = (40,50,60)
tuple1

(40, 50, 60)

In [31]:
tuple2 = (70,80,90)
tuple2

(70, 80, 90)

In [38]:
#concatenation 
tuple3 = tuple1 + tuple2
tuple3

(40, 50, 60, 70, 80, 90)

In [54]:
len(tuple3)

6

### Q.4]Write a Python program that takes a tuple of integers and converts it into a set. Then, find and print the maximum and minimum value from the set.

In [57]:
tup = (10,20,30,40,60)
tup

(10, 20, 30, 40, 60)

In [91]:
Set = set(tup)
Set

{10, 20, 30, 40, 60}

In [93]:
max(Set)

60

In [95]:
min(Set)

10

### Q.5]Tuple Slicing Given a tuple of 10 elements, write a Python program to print the elements from the 3rd to the 7th position using slicing.

In [87]:
tup1 = (10, 55.3, 'python',(3+6j),'hello',(1,2,'999'),999, '999',999,100,'hi')
tup1[3:7]

((3+6j), 'hello', (1, 2, '999'), 999)

### Q.6]Access value 20 from the tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

In [107]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

In [110]:
tuple1[1][1]

20

### Q.7]tup=(1,2,3,2,4,5,3,4,2). Count the occurrences of element ‘2’ in the given tuple.

In [114]:
tup=(1,2,3,2,4,5,3,4,2)
tup.count(2)

3

### Q.8]Create a tuple of numbers. Use slicing to create a new tuple containing only the even-indexed elements of the original tuple.

In [125]:
tuple4 = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
even_numbers = tuple4[::2]  
print("Original tuple:", tuple4)
print("Even-elements:", even_numbers)

Original tuple: (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
Even-elements: (10, 30, 50, 70, 90)