### Q.1] Define List, properties and its methods and try to write an example for each of the methods.

Lists are used to store multiple items in a single variable.
Lists are created using square brackets.
A Python list is a dynamic,mutable ordered collection of elements enclosed within square brackets [].

**Properties and its methods**
**Properties**
 1. concatenation
 2. multiplication

In [100]:
#concatenation
[10,20,30] + [40,50]

[10, 20, 30, 40, 50]

In [101]:
#multiplication
[10,20,30]*3

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [102]:
#Methods
L = [10,20,30,40,50]
L

[10, 20, 30, 40, 50]

In [103]:
dir(L)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [104]:
# 1. Append = add new value at the end of list
L.append(60)
L

[10, 20, 30, 40, 50, 60]

In [105]:
# 2. Insert = insert allow to add element at our choice of index value 
#             insert makes changes in orignal source
L.insert(4,65)
L

[10, 20, 30, 40, 65, 50, 60]

In [106]:
# 3.Extend = extend allows to add multiple value at a time at end of list
L.extend([150,200])
L

[10, 20, 30, 40, 65, 50, 60, 150, 200]

In [117]:
# 4.pop = remove last element =
L.pop()
L

[10, 20, 30, 40, 65, 50, 60, 150]

In [126]:
# 5. reverse = Reverse the list
L.reverse()
L

[150, 60, 50, 65, 40, 30, 20, 10]

### Q.2]explain about the list and their properties.

**Properties**
1. ]concatenation
2. ]multiplications

In [132]:
#concatenation
[10,20,30] + [40,50]

[10, 20, 30, 40, 50]

In [134]:
#multiplication
[10,20,30]*3

[10, 20, 30, 10, 20, 30, 10, 20, 30]

### Q.3]Create an empty list called numbers. Append the numbers 1, 2, and 3 to the list.
1. ]Modify the element at index 1 to be 4.
2. ]Print the updated list.

In [138]:
number = []
number.append(1)
number.append(2)
number.append(3)
number

[1, 2, 3]

In [145]:
#Modify the element at index 1 to be 4.
number[1]=4
number

[1, 4, 3]

### Q.4]Create a list called fruits with elements 'apple', 'banana', 'orange', 'mango', and 'kiwi'."
1. Create a new list by slicing fruits to include only the citrus fruits ('orange' and 'mango"").
2. Create a new list called tropical by slicing fruits to include only the tropical fruits ("banana" and ‘kiwi').
3. Concatenate citrus and tropical lists to create a new list called combined. Print combined.

In [150]:
fruits = ['apple', 'banana', 'orange', 'mango','kiwi']
fruits

['apple', 'banana', 'orange', 'mango', 'kiwi']

In [160]:
#Create a new list by slicing fruits to include only the citrus fruits ('orange' and 'mango"").
citrus_fruit = fruits[2:4]
citrus_fruit

['orange', 'mango']

In [172]:
#Create a new list called tropical by slicing fruits to include only the tropical fruits ("banana" and ‘kiwi').
tropical_fruits = [fruits[1],fruits[-1]]
tropical_fruits

['banana', 'kiwi']

In [175]:
#Concatenate citrus and tropical lists to create a new list called combined. Print combined.
combine = [citrus_fruit + tropical_fruits]
print(combine)

[['orange', 'mango', 'banana', 'kiwi']]

### Q.5]Create a list called colors with repeated elements 'red', 'blue', 'red', 'green', 'red'.
1. Print the number of occurrences of 'red' in the list.
2. Remove all occurrences of 'red' from the list.
3. Print the updated list."

In [282]:
colors = ['red', 'blue', 'red', 'green', 'red']
colors

['red', 'blue', 'red', 'green', 'red']

In [284]:
#Print the number of occurrences of 'red' in the list.
colors.count('red')

3

In [286]:
#Remove all occurrences of 'red' from the list.
colors.pop(0)

'red'

In [288]:
colors.pop(1)

'red'

In [290]:
colors.pop(2)

'red'

In [293]:
#Print the updated list.
colors

['blue', 'green']

### Q.6]Create a list called groceries with initial items: 'bread', 'milk', 'eggs', 'butter'.
1. Add 'cheese' to the end of the list.
2. Remove 'milk' from the list.
3. Print the final list of groceries."
4. Insert 'yogurt' at index 1

In [300]:
groceries = ['bread', 'milk', 'eggs', 'butter']
groceries

['bread', 'milk', 'eggs', 'butter']

In [304]:
#Add 'cheese' to the end of the list.
groceries.append('cheese')
groceries

['bread', 'milk', 'eggs', 'butter', 'cheese']

In [306]:
#Remove 'milk' from the list.
groceries.pop(1)
groceries

['bread', 'eggs', 'butter', 'cheese']

In [308]:
#Print the final list of groceries.
groceries

['bread', 'eggs', 'butter', 'cheese']

In [316]:
#Insert 'yogurt' at index 1
groceries.insert(1,'yogurt')
groceries

['bread', 'yogurt', 'eggs', 'butter', 'cheese']