# Write a function to get the maximum of 3 numbers.

In [2]:
def find_max(a, b, c):
    max_num = a
    if b > max_num:
        max_num = b
    if c > max_num:
        max_num = c
    return max_num
print("Maximum of 1, 2, 3:", find_max(1, 2, 3))

Maximum of 1, 2, 3: 3

# 2)Write a function to check if the given number if even or not

In [6]:
def is_even(n):
    if n % 2 == 0:
        return n,"even"
    else:
        return 'odd'

is_even(10)

(10, 'even')

# 3)Write a program to get the sum of all the values in given list,
# Example: 
       my_sum([1,2,3,4,5]), then o/p: 15 
       my_sum([10,11,12]), then o/p: 33

In [24]:
my_sum=[1,2,3,4,5]
def sum_value(my_sum):
    sum=0
    for i in my_sum:
        sum=sum+i
    print(sum)
sum_value(my_sum)

15

# 4)Construct your own function my_range() which acts as range() to print numbers in forward direction (step is positive) and backward direction(step is negative) with given start,stop and step as parameters.
* eg: my_range(1,10,1), then o/p= 1,2,3,4,5,6,7,8,9 
* my_range(1,10,2), then o/p= 1,3,5,7,9 
* my_range(10,1,-1), then o/p = 10,9,8,7,6,5,4,3,2 
* my_range(10,1,-2), then o/p = 10,8,6,4,2

In [27]:
def my_range(start, stop, step):
  if step > 0:
    while start < stop:
      print(start, end=",")
      start += step
  else:
    while start > stop:
      print(start, end=",")
      start += step
  print()  
my_range(1, 10, 1)
my_range(1, 10, 2)
my_range(10, 1, -1)
my_range(10, 1, -2)

1,2,3,4,5,6,7,8,9,
1,3,5,7,9,
10,9,8,7,6,5,4,3,2,
10,8,6,4,2,

# 5)Multiply numbers with given start and stop (using loops)
*  Example: start=1, stop= 5, then o/p: 120 
*  start=3, stop=5, then o/p: 60

In [29]:
def multiply_range(start, stop):
    result = 1
    for num in range(start, stop + 1):
        result *= num
    return result

print(multiply_range(1, 5))  
print(multiply_range(3, 5))

120
60

6)Construct a function for fibonacci series(fib()) using
a.loops 
b.recursion 
Expected o/p : 
fib(5), then o/p= 0 1 1 2 3 
fib(7), then o/p= 0 1 1 2 3 5 8

In [33]:
def fib(n):
    a, b = 0, 1
    if n >= 1:
        print(a, end=" ")
    if n >= 2:
        print(b, end=" ")
    
    for i in range(2, n):
        c = a + b
        print(c, end=" ")
        a, b = b, c

print("fib(5):")
fib(5)
print("\nfib(7):")
fib(7)

fib(5):
0 1 1 2 3
fib(7):
0 1 1 2 3 5 8

# 7)Create a Factorial with loops.

In [35]:
def factorial(n):
    
    if n < 0:
        return "Factorial is not defined for negative numbers"
    if n == 0 or n == 1:
        return 1
        
    result = 1
    for i in range(2, n + 1):
        result *= i
    
    return result
print("Factorial of 0:", factorial(0))  
print("Factorial of 1:", factorial(1))  
print("Factorial of 5:", factorial(5))  
print("Factorial of 7:", factorial(7))  
print("Factorial of -1:", factorial(-1))

Factorial of 0: 1
Factorial of 1: 1
Factorial of 5: 120
Factorial of 7: 5040
Factorial of -1: Factorial is not defined for negative numbers

In [ ]:
8)

In [45]:
for j in range(6):
    for i in range(j): 
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [65]:
# 9)

In [67]:
rows = 5
for i in range(rows, 0, -1):
    print((str(i) + " ") * rows)

5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1