### Task-6 Sets

### Q.1]Set Creation Create a Python set containing the first 10 even numbers {2, 4, 6,8,10}. Write a program to display this set."

In [8]:
S = {2,4,6,8,10,12,14,16,18,20}
print(S)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

### Q.2]Set Operations Given two sets, write a Python program to find the union, intersection, and difference of these sets."

In [14]:
Set1 = {10,20,30,40}
Set2 = {20,30,40,50}

In [16]:
#union 
Set1.union(Set2)

{10, 20, 30, 40, 50}

In [18]:
#Intersection
Set1.intersection(Set2)

{20, 30, 40}

In [22]:
#Difference
Set1.difference(Set2)

{10}

In [24]:
Set2.difference(Set1)

{50}

### Q.3]Set Operations and Methods Write a Python program that takes a set of numbers and performs the following operations:
1. Add a new number to the set.
2. Remove a number from the set.
3. Check if a specific number is in the set.
4. Find the size of the set.

In [29]:
S = {10,15,20,20,24,25,26,26,28,30,32,34,36,40}
S

{10, 15, 20, 24, 25, 26, 28, 30, 32, 34, 36, 40}

**1. Add a new number to the set.**

In [34]:
S.add(45)
S

{10, 15, 20, 24, 25, 26, 28, 30, 32, 34, 36, 40, 45}

**2. Remove a number from the set.**

In [39]:
S.remove(40)
S

{10, 15, 20, 24, 25, 26, 28, 30, 32, 34, 36, 45}

**3. Check if a specific number is in the set.**

In [53]:
27 in S

False

**4. Find the size of the set**

In [68]:
S = {10,15,20,20,24,25,26,26,28,30,32,34,36,40}
S

{10, 15, 20, 24, 25, 26, 28, 30, 32, 34, 36, 40}

In [70]:
len(S)

12

### Q.4]Set Operations with Lists Create a Python list with duplicate elements and convert it into a set to remove duplicates. Then, write a program to count how many duplicates were removed.

In [74]:
#Create a Python list with duplicate elements
List = [10,10,20,25,30,30,45,40,55,55,50]
List

[10, 10, 20, 25, 30, 30, 45, 40, 55, 55, 50]

In [97]:
len(List)

11

In [89]:
#convert it into a set to remove duplicates
Set = set(List)
Set

{10, 20, 25, 30, 40, 45, 50, 55}

In [99]:
len(Set)

8

In [103]:
#write a program to count how many duplicates were removed.
duplicate_removed = len(List) - len(Set)
duplicate_removed

3

### Q.5]Explain the concept of Sets and their properties in Python. Provide a one-line definition of each set method with examples.

1. set is unordered data structure
2. sets have only unique values
3. sets need same data type in its declaration
4. Set items are unordered, unchangeable, and do not allow duplicate values.
5. It is defined using curly braces {}.

In [108]:
S = {2,40,30,1,5,90,10,100, 30,40,50,20}
S

{1, 2, 5, 10, 20, 30, 40, 50, 90, 100}

**Properties:**
1. Unordered = Unordered means that the items in a set do not have a defined order.
2. Unchangeable = Set items are unchangeable, meaning that we cannot change the items after the set has been created.
3. Duplicates Not Allowed = Sets cannot have two items with the same value.
4. Mutable = We can add or remove elements.

   **Examples**

In [116]:
#unordered 
S = {4,6,2,1,5,8}
S

{1, 2, 4, 5, 6, 8}

In [153]:
#Duplicates Not Allowed
Set = {1,1,2,2,3,4}
Set

{1, 2, 3, 4}

In [155]:
#mutable
Set.add(6)
Set

{1, 2, 3, 4, 6}